Flask==2.3.3
requests==2.31.0
together
python-dotenv==1.0.0
opencv-python==4.8.1.78
Pillow==10.0.1
numpy==1.24.3
cloudinary==1.36.0
transformers==4.35.2
torch==2.1.1
easyocr==1.7.0
pytesseract
